/* 
    Document   : style
    Created on : Oct 23, 2012, 10:12:42 PM
    Author     : mark
    Description:
        Purpose of the stylesheet follows.
*/
body {
    //background: url(imgs/pam-skinning.jpg) no-repeat center center fixed; 
    background: url(imgs/body-bg.jpg) top center no-repeat #011226;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    margin:0;
    padding:0;
    height:100%;
    
    position:relative;
}
.main-container {
    padding:60px 0;   /* Height of the footer */
}
#content {
    padding-bottom:15px
    
}
.footer{
    position:absolute;
    bottom:0; left:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#444;
}
.footer-inner{width:992px; margin:0 auto; padding:0px;}
.left-sec{float:left; margin:0px; color:#444; font-size:14px; font-family:'ProximaNovaRegular',Arial, Helvetica, sans-serif; width:380px; }
.right-sec a{color:#999; padding:0px 5px; margin:0px; text-decoration:none; font-size:15px}
.right-sec a:first-child{padding-left:0px;}
.right-sec a:hover{text-decoration:underline;}
.right-sec{float:right; padding-top:15px; margin:0px; color:#000}


.mid-well {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#header {
    padding-bottom: 10px;
    position: relative;
}
.hero-unit p, .hero-unit h1{
    text-align: center;
    padding: 5px 0;
    
}

#sport-labels img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:280px;
    height: 200px;
    
    padding:8px;
    border: solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 2px 2px 1px;
    background-color:#D3D3D3;
}
.navbar {
    position: relative;
}
.lower-header li{
    color:black;
}
.main-tbl #tabs{
    //margin-top:15px;
}

.prof-pic{
    border-radius: 15px;
    width: 350px;
    height: 230px;
}

.info-pic{
    border-radius: 10px;
    width: 150px;
    height: 130px;
}
.info-frame div{
    border: 1px solid white;
    border-radius: 10px;
    
    height: 74px;
    background-color: #CCC;
    margin-bottom:20px;
}
.info-frame table{
    margin-left:10px
}
.info-frame table td{
    padding:3px;
    
}
.info-frame .thumbnail{
    border:0;
}
.info-frame .thumbnails li{
    width:135px;
}




		p{
			padding:0 0 10px 0;
		}
		textarea{
			font:12px/18px 'Helvetica', Arial, sans-serif;
		}
		h2{
			font-size:22px;
			line-height:28px;
			margin:0 0 10px 0;
		}
		h3{
			margin:0 0 5px 0;
			padding:0;
		}
		.headerBar{
			background:none;
			padding:0;
			border:none;
		}
		.wrapper{
			width:600px;
			margin:0 auto 10px auto;
			text-align:left;
		}
		.tpl-image-content{
			padding-left:20px;
		}
		fieldset{
			padding:10px;
			background-color:#ddd;
			border:1px solid #ccc;
		}
		label{
			float:none;
			clear:both;
			display:block;
			width:auto;
			margin-top:8px;
			text-align:left;
			font-weight:bold;
			position:relative;
			font-family:Comic Sans MS;
			font-size:18px;
		}
		.field-group{
			float:none;
			margin:3px 0 15px 0;
			padding:5px;
			border-style:solid;
			background:-moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, .25)));
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff');
			-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff')";
		}
		.field-group input{
			display:block;
			margin:0;
			padding:5px;
			border:0;
			background:none;
			width:98%;
		}
		.radiogroup input,.phonearea input,.addressfield input,.datefield input,.groups input{
			width:auto;
		}
		.field-group label{
			clear:none;
		}
		.field-group textarea{
			background:none;
			border:none;
			width:525px;
			height:150px;
			margin:0;
			overflow:auto;
		}
		.field-help{
			display:none;
			font-weight:normal;
			position:static;
			float:none;
			clear:both;
			margin:5px -5px -5px -5px;
			width:auto;
			padding:8px 10px;
			line-height:16px;
			font-size:12px;
			-moz-border-radius:0;
			border-radius:0;
			-webkit-border-radius:0;
		}
		.field-help .help{
			min-height:16px;
			text-decoration:none;
		}
		.field-group .feedback br{
			display:none;
		}
		.field-group .feedback div{
			margin:0 !important;
			padding:0 !important;
		}
		.addressfield .subfield{
			clear:left;
		}
		.indicates-required{
			text-align:right;
		}
		.indicates-required span{
			font-size:150%;
			font-weight:bold;
		}
		label .asterisk{
			position:absolute;
			top:36px;
			right:10px;
			font-size:30px;
		}
		.error,.errorText{
			margin:5px 0 0 0;
			padding:5px 10px;
			font-size:13px;
		}
		.formstatus{
			margin-bottom:10px;
		}
		.alert{
			background:#e4f3d4;
			border:2px solid #5ca000;
			font-size:14px;
			color:#5ca000;
			margin:10px 0;
			padding:10px;
		}
		.alert a{
			color:#5ca000;
			text-decoration:underline;
		}
		.datefield,.phonefield-us{
			padding:5px;
		}
		.datefield input,.phonefield-us input{
			display:inline;
			width:60px;
			margin:0 2px;
			letter-spacing:1px;
			text-align:center;
			padding:5px 0 2px 0;
		}
		.datefield .small-meta{
			font-size:11px;
		}
		.phonefield-us .phonearea input,.phonefield-us .phonedetail1 input{
			width:40px;
		}
		.datefield .monthfield input,.datefield .dayfield input{
			width:30px;
		}
		.datefield label,.phonefield-us label{
			display:none;
		}
		ul.interestgroup_field{
			display:block;
			padding:5px;
			margin:0;
		}
		ul.interestgroup_field li,.interestgroup_row{
			display:block;
			margin:0;
			padding:0;
			list-style:none;
		}
		ul.interestgroup_field input{
			display:inline !important;
			width:auto !important;
		}
		ul.interestgroup_field label{
			display:inline;
			padding:0 30px 0 3px;
			font-weight:normal;
		}
		select{
			width:300px;
			margin:5px;
		}
		ul.unsub-options{
			display:block;
		}
		ul.unsub-options li{
			display:block;
			padding-bottom:5px;
		}
		ul.unsub-options li label{
			display:inline;
			padding-left:5px;
		}
		ul.unsub-options li textarea{
			display:block;
			padding:5px;
			background:#fff;
			border:1px solid #ccc;
			margin:5px 0;
			width:350px;
			height:100px;
		}
		.addressfield span{
			display:block;
			height:34px;
		}
		.addressfield input{
			float:right;
			width:56%;
			margin:0 9% 0 0;
			padding:8px 0 2px 0;
		}
		.addressfield label{
			float:left;
			font-weight:normal;
			text-align:right;
			width:33%;
		}
		.addressfield .countryfield{
			display:block;
			height:45px;
			position:relative;
		}
		.addressfield .countryfield select{
			margin:0;
			position:absolute;
			top:10px;
			left:35%;
		}
		.captcha{
			float:left;
			width:340px;
			height:170px;
		}
		#archive-list{
			display:block;
			margin:15px 0;
			padding:0;
			border-top:1px solid #eee;
		}
		#archive-list li{
			display:block;
			list-style:none;
			margin:0;
			padding:6px 10px;
			border-bottom:1px solid #eee;
		}
		.button,.button-small{
			display:inline-block;
			font-family:'Helvetica', Arial, sans-serif;
			width:auto;
			white-space:nowrap;
			height:32px;
			margin:5px 5px 0 0;
			padding:0 22px;
			text-decoration:none;
			text-align:center;
			font-weight:bold;
			font-style:normal;
			font-size:15px;
			line-height:32px;
			cursor:pointer;
			border:0;
			-moz-border-radius:4px;
			border-radius:4px;
			-webkit-border-radius:4px;
			vertical-align:top;
		}
		.button-small{
			float:none;
			display:inline-block;
			height:auto;
			line-height:18px !important;
			padding:2px 15px !important;
			font-size:11px !important;
		}
		.button span{
			display:inline;
			font-family:'Helvetica', Arial, sans-serif;
			text-decoration:none;
			font-weight:bold;
			font-style:normal;
			font-size:15px;
			line-height:32px;
			cursor:pointer;
			border:none;
		}
		.rounded6{
			-moz-border-radius:6px;
			border-radius:6px;
			-webkit-border-radius:6px;
		}
		span.or{
			display:inline-block;
			height:32px;
			line-height:32px;
			padding:0 5px;
			margin:5px 5px 0 0;
		}
		.clear{
			clear:both;
		}
		.tpl-image-content{
			padding-left:0px;
		}
		.profile-list{
			display:block;
			margin:15px 20px;
			padding:0;
			list-style:none;
			border-top:1px solid #eee;
		}
		.profile-list li{
			display:block;
			margin:0;
			padding:5px 0;
			border-bottom:1px solid #eee;
		}
		input{
			-webkit-appearance:none;
		}
		input[type=checkbox]{
			-webkit-appearance:checkbox;
		}
		input[type=radio]{
			-webkit-appearance:radio;
		}
		#bodyTable{
                        opacity: .5;
			background-color:#6f2828;
		}
		#templateContainer{
			background-color:#6f2828;
		}
		#templateBody{
			background-color:#c95454;
		}
		.bodyContent{
			line-height:150%;
			font-family:Comic Sans MS;
			font-size:12px;
			color:#333333;
			padding:20px;
		}
		a:link,a:active,a:visited,a{
			//color:#336699;
		}
		.button:link,.button:active,.button:visited,.button,.button span,.button-small:link,.button-small:active,.button-small:visited,.button-small{
			background-color:#336699;
			color:#ffffff;
		}
		.button:hover,.button-small:hover{
			background-color:#1e5781;
			color:#ffffff;
		}
		label{
			line-height:150%;
			font-family:Comic Sans MS;
			font-size:18px;
			color:#333333;
		}
		.field-group{
			background-color:#eeeeee;
			border-width:2px;
			border-color:#d0d0d0;
		}
		.datefield input,.phonefield-us input,.addressfield input{
			border-bottom-width:1px;
			border-bottom-style:solid;
			border-color:#a29d9d;
		}
		.field-group input,.field-group textarea{
			font-family:Helvetica;
			font-size:16px;
			color:#333333;
		}
		.asterisk{
			color:#6f2828;
		}
		.field-help{
			background-color:#dcdcdc;
			color:#000;
		}
		.error,.errorText{
			font-size:13px;
			color:#6b0505;
			background-color:#f4bfbf;
		}
                	
form input#mce-EMAIL, form input#mce-NAME, form select#mce-SPORT {
	float: left;
	font-family: 'proxima-nova', sans-serif;
	font-size: 26px;
	padding: 0 0 0 13px;
	width: 323px;
	height: 63px;
	background: #e0e0e0;
	border: 1px solid #a2a1a1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 8px;
}

form input.mce-INPUT,#ForgotPasswordForm_email {
	float: left;
	font-family: 'proxima-nova', sans-serif;
	font-size: 24px;
	padding: 0 0 0 13px;
	width: 323px;
	height: 63px;
	line-height: 63px;
	background: #e0e0e0;
	border: 1px solid #a2a1a1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 8px;
}

form input.mce-INPUT-offer {
	float: left;
	font-family: 'proxima-nova', sans-serif;
	font-size: 24px;
	line-height:  24px;
	padding: 0 0 0 13px;
	//width: 323px;
	width: 444px;
	height: 63px;
	background: #e0e0e0;
	border: 1px solid #a2a1a1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 8px;
}

form #memo_area {
    	float: left;
	font-family: 'proxima-nova', sans-serif;
	font-size: 20px;
	padding: 0 0 0 13px;
	width: 323px;
	height: 143px;
	background: #e0e0e0;
	border: 1px solid #a2a1a1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 8px;
}


form input#mc-embedded-subscribe {
	float: right;
	padding: 0;
	border: 0;
	width: 208px;
	height: 65px;
	background: url('imgs/getInvite.png');
	cursor: pointer;
}
#sports-page ul{
    margin: 0 auto;
}
#sports-page li{
    width:270px;
}
img.sport-no{
    opacity:.3;
    width:270px;
    height:200px;
}
img.sport-yes{
    width:270px;
    height:200px;
}
img.sport-inc{
    opacity: .5;
    width: 270px;
    height:200px;
}
img.sport-in-progress{
    position: absolute;
    top:-200px;
    height:135px;
}